.card {
  border: 1px solid #262c3f;
  border-radius: 26px;
  background-color: #1e2233;
  width: 300px;
  padding: 10px;
  height: 300px;

  &_content {
    padding: 0 10px;

    p {
      display: flex;
      align-items: center;
      gap: 8px;
      border-bottom: 1px solid #262c3f;
      padding: 10px 0;
      color: #e1e2e7;
      font-size: 14px;
    }
  }
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  flex-shrink: 0;
}

.red {
  background-color: #D34D1E; 
}

.blue {
  background-color: #3777DF; 
}

.yellow {
  background-color: #FDD260; 
}
