@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #121622;
    margin: 0;
    box-sizing: border-box;
      font-family: "Montserrat", sans-serif;
      color: white

};
