.cards {
  display: flex;
  gap: 20px;
  padding-left: 80px;
  padding-bottom: 20px;

  > * {
    flex-shrink: 0;
    min-width: 400px; 
  }
}

.flex {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  flex-shrink: 0;
  min-width: 400px;
}